<nav class="navbar navbar-expand-lg navbar-custom custom-toggler">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('default_home') }}"><img class="logo" src="{{ asset('img/logomodif.png') }}" alt="logo"></a>
        <button class="navbar-toggler navbar-text" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active navbar-text" aria-current="page" href="{{ path('default_home') }}">Accueil</a>
                </li>

                {% if not app.user %}
                    <li class="nav-item">
                        <a class="nav-link navbar-text" href="{{ path('user_register') }}">Inscription</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar-text" href="{{ path('app_login') }}">Connexion</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link navbar-text" href="{{ path('show_profile') }}">Mon profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar-text" href="{{ path('show_emprunt') }}">Mon emprunt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar-text" href="{{ path('app_logout') }}">Déconnexion</a>
                    </li>
                {% endif %}


                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle navbar-text" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Espace Admin
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ path('show_dashboard') }}">Dashboard</a></li>
                            <li><a class="dropdown-item" href="{{ path('show_livres') }}">Gestion des livres</a></li>
                            <li><a class="dropdown-item" href="{{ path('show_membres') }}">Gestion des membres</a></li>
                            <li><a class="dropdown-item" href="#">Gestion des commandes</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>

            
        </div>
    </div>
</nav>