{% extends 'base.html.twig' %}

{% block title %}Lirensemble{% endblock %}

{% block body %}

    <div class="slider" style="position: relative;
  overflow: hidden;">
        <div class="elements" style="display: flex;
  flex-direction: row;">
            <div class="element" style="flex: 1 0 100%;
  position: relative;
  height: 500px;">
                <img src="{{ asset('img/slide01.jpg') }}" alt="lights" style="width: 100%;
  height: 100%;
  object-fit: cover">
                <div class="caption" style="position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.7);
  text-align: center;">
                    <h1>Bienvenue sur votre bibliothèque en ligne</h1>
                </div>
            </div>
            <div class="element" style="flex: 1 0 100%;
  position: relative;
  height: 500px;">
                <img src="{{ asset('img/slide02.jpg') }}" alt="cup" style="width: 100%;
  height: 100%;
  object-fit: cover">
                <div class="caption" style="position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.7);
  text-align: center;">
                    <h1>Vous êtes nouveau ?</h1>
                    <p>Suivez les instructions qui suivent ci-dessous</p>
                </div>
            </div>
            <div class="element" style="flex: 1 0 100%;
  position: relative;
  height: 500px;">
                <img src="{{ asset('img/slide03.jpg') }}" alt="blur" style="width: 100%;
  height: 100%;
  object-fit: cover">
                <div class="caption" style="position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.7);
  text-align: center;">
                    <h1>Bonne visite !</h1>
                </div>
            </div>
        </div>
        <i id="nav-gauche" class='bx bx-chevron-left-circle' style="position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  transform: scale(2);
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;"></i>
        <i id="nav-droite" class='bx bx-chevron-right-circle' style="position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transform: scale(2);
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  right: 5%;"></i>
    </div>

    {% include "include/_flashes.html.twig" %}

    <section id="intro">
        <h2>Lirensemble, qu'est ce que c'est ?</h2>
        <p>
            Lirensemble est un site participatif d'emprunt de livres autour de chez vous. Le but est de se retrouver avec un large choix de livres prêtés par les utilisateurs eux mêmes pour construire ensemble une véritable bibliothèque en ligne gratuite. Venez partager votre passion de la littérature avec d'autres personnes sans frais et sans soucis.
        </p>
        <h2>Comment ça fonctionne ?</h2>
        <p>
            Pour commencer faisons connaissance, venez-vous inscrire <a href="{{ path('user_register') }}">ici</a>.
        </p>
        <p>
            Une fois que c'est fait, il ne vous reste plus qu'à mettre un (ou plusieurs) livre de votre collection en prêt depuis votre <a {% if not app.user %} href="{{ path('app_login') }}" {% else %} href="{{ path('show_profile') }}" {% endif %}>profil</a>, rien de plus simple !
        </p>
        <p>
            Vous pouvez maintenant parcourir les livres proposés et faire votre choix, mais un à la fois n'abusons pas des bonnes choses. Bonne visite et on espère que vous trouverez votre bonheur !
        </p>
    </section>

    <div class="catalogue" style="display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-bottom: 50px;">

        {%  for livre in livres %}

            <div class="col-3 mx-2">
                <div class="card" style="width: 18rem;">
                    <img src="{{ asset('img/photo-standard.jpg') }}" class="card-img-top" alt="présentation" style="object-fit: cover;" width="150" height="220">
                    <div class="card-body">
                        <h5 class="card-title">{{ livre.titre }}</h5>
                        <h6 class="card-title">{{ livre.genre }} | {{ livre.auteur }}</h6>
                        <p class="card-text">{{ livre.resume | length > 50 ? livre.resume | slice(0,50) ~ '...' : livre.resume }}</p>
                        <a href="{{ path('validate_emprunt', {'id': livre.id}) }}" class="col-12 btn btn-warning text-center" onclick="return confirm('Voulez-vous vraiment emprunter ce livre ?\n Si oui, vous ne pourrez pas en emprunter un autre.')">Emprunter</a>
                    </div>
                </div>
            </div>

        {% else %}
            <h3 class="text-center">Aucun livre en ligne</h3>
        {% endfor %}

    </div>

{% endblock %}
