{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %} 

{% include "include/_flashes.html.twig" %}

  <h1 class="text-center my-4">Inscrivez-vous !</h1>

    <div class="row my-8">
        <div class="col-6 mx-auto">

            {{ form_start(form) }}

            {{ form_row(form.pseudo) }}

            <div class="row">
                <div class="col-6">{{ form_row(form.email) }}</div>
                <div class="col-6">{{ form_row(form.password) }}</div>
            </div>

            <input type="checkbox" id="cgu" required>
            <label for="cgu" class="my-2">J'ai lu et j'accepte les condtions d'utilisations</label>

            {{ form_row(form.submit) }}

            {{ form_end(form) }} 
        </div>
    </div>

{% endblock %}
